.Popup{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('./images/image-rules.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.exit{
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('./images/icon-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.sign{
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2.5rem;

}

@media screen and (min-width:500px){
    .Popup{
        max-width: 400px;
        min-height: 500px;
        border-radius: 20px;
    }
    .sign{
        top: 9%;
        left: 20%; 
    }
    .exit{
        top: 10%;
        width: 50px;
        left: 90%;
        height: 50px;
    }
}